<!DOCTYPE html>
<html>
  <head>
    <title>Server: Admin Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"></head>
  <body style="text-align:center;">
    <h1>Choose a Mode</h1>
      <p><a target="_blank" href="client/">Client</a></p>
      <p><a target="_blank" href="admin/">Admin</a></p>
  </body>
    <!-- Script attachment at the end, use ctrl-slash -->
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  <!--<script> 
    window.setInterval(function(){ 
    	location.reload(); 
    }, 1000); -->
  </script>
</html>
