<!DOCTYPE html>
<html>
  <head>
    <title>Chat server: Admin page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"></head>
  <body style="text-align:center;">
    <h1>Server Test</h1>
    <h4>Messages Recieved: {{messageCounter}}</h4>
    <h4>Total Connections: {{numConnections}}</h4>
  </body>
  <script> 
    window.setInterval(function(){ 
    	location.reload(); 
    }, 1000); 
  </script>
</html>
